{
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 120,
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc"
    }
  ]
}
